{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
    <div class="col-xs-offset-4 col-xs-4 loginBox text-center">
        <h1 class="text-center">Login</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

        <h2>Login with Facebook</h2>
        <a href="{% url 'social:begin' 'facebook' %}">
        <img src="{% static 'facebook.svg' %}" class="facebookLogo">
        </a>
    </div>
    </div>
    </div>
{% endblock %}
