header nav{
    background: #2c3e50 !important;
    color: white;
}

footer{
background: #2c3e50;
    color: white;
}

.loginBox{
    background: #18bc9c;
    color: #2c3e50;
    border-radius: 10px;
}

a{
    color: #2c3e50;
    transition: 0.3s;
}

a:hover{
    color: #2c3e50;
    font-weight: 900;
    text-decoration: none;
    transition: 0.3s;
}

.facebookLogo{
    max-width: 60px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a{
    color: #ffffff;
    font-weight: 900;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #d3d3d3;
    font-weight: 900;
}