header nav {
    background: #2c3e50 !important;
    color: white;
}

footer {
    background: #2c3e50;
    color: white;
}

.loginBox {
    background: #18bc9c;
    color: #2c3e50;
    border-radius: 10px;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.registrationBox {
    margin-top: 50px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    background: #18bc9c;
    color: #2c3e50;
    border-radius: 10px;
}

.logoutBox {
    background: #62A9FF;
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    margin-top: 50px;
    font-weight: 900;
    color: #ffffff;
    font-size: 2.5em;
}

.errorBox {
    background: #FF4848;
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    margin-top: 50px;
    font-weight: 900;
    color: #ffffff;
    font-size: 2.5em;
}

a {
    color: #2c3e50;
    transition: 0.3s;
}

a:hover {
    color: #2c3e50;
    font-weight: 900;
    text-decoration: none;
    transition: 0.3s;
}

.facebookLogo {
    max-width: 60px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #d3d3d3;
    font-weight: 900;
}

.logoImage {
    max-height: 50px;
    max-width: 100px;
}

.navbar-nav {
    float: none;
}

.container > h1 {
    font-weight: 900;
}

.staticPageHeader {
    margin-bottom: 50px;
}

.newsBox {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 70px;
    height: 115px;
}

@media (max-width: 991px) {
    .newsBox {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }
}

.pageContent{
    margin-bottom: 50px;
}

.panel-body {
    padding: 5px;
    padding-left: 14px;
}

.newsHead {
    font-weight: 900;
}