{% load site_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CMS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>

<header>
    <nav class="navbar navbar-default navbar-fixed-top" style="position: static;">
        <div class="navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed menuButton" data-toggle="collapse"
                            data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% getLogo as logo %}
                    {% if logo != None %}
                        <a class="" href="/home">
                            <img src="{{ logo.url }}" class="logoImage">
                        </a>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav list-inline" style="min-width:100%">
                        {% if user.is_authenticated %}
                            {% getAllSites False as sites %}
                            {% getAllCategory False as categorys %}
                        {% else %}
                            {% getAllSites True as sites %}
                            {% getAllCategory True as categorys %}
                        {% endif %}
                        {% for site in sites %}
                            <li><a href="/staticPage/{{ site.id }}">{{ site.name }}</a></li>
                        {% endfor %}
                        {% for key,value in categorys.items %}
                            {% if value|length %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ key }}
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for site in value %}
                                            <li><a href="/staticPage/{{ site.id }}">{{ site.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <li class="navbar-right"><a href="/accounts/logout">Log out</a></li>
                            <li class="navbar-right"><a href="/account">{{ user.username }}</a></li>
                        {% else %}
                            <li class="navbar-right"><a href="/accounts/register">Sign up</a></li>
                            <li class="navbar-right"><a href="/accounts/login">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="pageContent">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-lg-12">
            <h6 class="text-center">Created by Jakub Ratajski</h6>
        </div>
    </div>
</footer>
</body>
</html>
