{% include 'base.html' %}
{% block content %}
<div class="container">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    You have {{ books.count }} books in Your store
</div>
{% endblock %}