{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center staticPageHeader">{{ pageHeader }}</h1>
        {% autoescape off %}
            {{ site.content }}
        {% endautoescape %}

        <div class="commnetSection">
            {% include 'comments.html' %}
            <form action="/addComment/" method="post">
                {% csrf_token %}
                <textarea class="form-control" rows="5" placeholder="Write your comment..." name="comment"></textarea>
                <input type="hidden" name="site" value="{{ site.id }}">
                <input type="submit" class="btn btn-primary pull-right">
            </form>
        </div>
    </div>
{% endblock %}